* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ECECEC;
  text-align: center;
  font-family: 'Arial';
  margin: 0 20%;
  color: #000000;
}

/* Dark mode styles */
body.dark-mode {
  background: #1E1C1E;
  color: #ECECEC;
}

body.dark-mode a, body.dark-mode h3 {
  color: #90E2DB;
}

body.dark-mode .introduction {
  background: #90E2DB;
  color: #000000;
}

body.dark-mode .card {
  background: #262626;
  color: #F8F8F8;
}

a {
  color: #476A6F;
  text-decoration: none;
}

.lowercase {
  text-transform: lowercase;
}

h2 {
  margin-bottom: 20px;
}

h3 {
  color: #476A6F;
}

p:not(:first-of-type) {
  margin-top: 1em;
}

.header {
  margin-top: 20px;
  opacity: 0;
  animation: bounce-in 0.7s ease forwards 0.3s;
}

@keyframes bounce-in {
  0% {
    opacity: 0.2;
    transform: translateY(-200px);
  }
  60% {
    opacity: 0.7;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.introduction, .section, .footer {
  opacity: 0;
  animation: fade-in 0.7s ease forwards 0.7s;
}

@keyframes fade-in {
  0% {
    opacity: 0.2;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.introduction {
  color: #F8F8F8;
  background: #476A6F;
  border-radius: 12px;
  padding: 12px 48px;
  margin-top: 40px;
}

.section {
  margin-top: 40px;
}

.card {
  color: #000;
  background:#F8F8F8;
  padding: 48px 48px;
  text-align: left;
  border-radius: 12px;
}

.card:not(:last-of-type) {
  margin-bottom: 40px;
}

.experience {
  display: flex;
  align-items: center;
}

.experience-description {
  flex: 0 1 auto;
}

.experience-header {
  margin-bottom: 12px;
}

.logo {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
  margin: 12px -4px -4px 0;
}

.tag {
  padding: 4px 12px;
  border-radius: 4px;
  margin: 0 4px 4px 0;
}

.tag-1 {
  color: #000000;
  background: #519E8A;
}

.tag-2 {
  color: #F8F8F8;
  background: #476A6F;
}

.tag-3 {
  color: #000;
  background: #90E2DB;
}

.footer {
  margin-top: 40px;
  margin-bottom: 20px;
}

.links a {
  margin: 0 12px;
}

.links a:first-of-type {
  margin-left: 0;
}

.links a:last-of-type {
  margin-right: 0;
}

#theme-toggle {
  cursor: pointer;
  margin-top: 12px;
}

.social-icon {
  color: #519E8A;
  margin: 0 12px;
  height: 28px;
}

@media (max-width: 767px) {
  body {
    margin: 0 10%;
  }

  .experience {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
